@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #000000;
    box-sizing: border-box;
    color: #f6f6f6;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.navegacao{
    display: flex;
    gap: 80px;
}
.navegacao-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #22d4fd;
    text-decoration: none;
}
.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao-conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.apresentacao-conteudo-titulo{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}
.titulo-destaque{
    color: #22d4fd;
}
.apresentacao-conteudo-texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.imagem{
    width: 50%;
}
.apresentacao-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.subtitulo{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size:  1.5rem;
}

.listas{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.linksButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px solid #22d4fd;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}
.linksButton:hover{
    background-color: #272727;
}

.rodape{
    color: #000000;
    background-color: #22d4fd;
    text-align: center;
    padding: 24px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}
@media(max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }
    .navegacao{
        justify-content: center;
        gap: 50px;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao-conteudo{
        width: auto;
    }
    
}